<div class="px-3 addPost">
  <nb-stepper #stepper [disableStepNavigation]="true">
    <nb-step [stepControl]="firstForm" label="ارفاق الصور">
      <h6 class="text-center mb-5">يرجى اضافة صورة او اكثر للحيوان</h6>
      <form class="step-container">
        <p>مسموح حتى 5 صور -</p>
        <ngx-image-picker
          (emitPhoto)="selectedPhoto($event)"
        ></ngx-image-picker>
        <div
          *ngIf="postData.selectedPhotos.length != 0"
          class="d-flex justify-content-center"
        >
          <div
            class="img-container"
            *ngFor="let image of postData.selectedPhotos; let i = index"
          >
            <img [src]="'data:image/png;base64,' + image" />
            <nb-icon
              icon="close-outline"
              pack="eva"
              (click)="deleteImg(i)"
            ></nb-icon>
          </div>
        </div>
        <div class="d-flex next-prev">
          <button
            nbStepperNext
            [disabled]="postData.selectedPhotos.length == 0"
          >
            الخطوة التالية
          </button>
        </div>
      </form>
    </nb-step>
    <nb-step [stepControl]="secondForm" label="نوع الحيوان">
      <h6 class="text-center mb-5">يرجى اختيار نوع الحيوان</h6>
      <form class="step-container">
        <div class="box">
          <select
            placeholder="اختر نوع الحيوان"
            name="animalType"
            [(ngModel)]="postData.selectedType"
            (change)="changeType($event)"
            class="mb-4"
          >
            <option value="اختر نوع الحيوان" disabled>اختر نوع الحيوان</option>
            <option value="كلب">كلب</option>
            <option value="قطة">قطة</option>
          </select>
        </div>
        <div class="box">
          <select
            [disabled]="postData.selectedCity == 'اختر نوع الحيوان'"
            placeholder="اختر فصيلة الحيوان"
            name="animalCategory"
            [(ngModel)]="postData.selectedCategory"
          >
            <option value="اختر فصيلة الحيوان" disabled>
              اختر فصيلة الحيوان
            </option>
            <option *ngFor="let animal of this.animalCategories">
              {{ animal.name }}
            </option>
          </select>
        </div>
        <div class="d-flex next-prev">
          <button
            nbStepperNext
            [disabled]="postData.selectedCategory == 'اختر فصيلة الحيوان'"
          >
            الخطوة التالية
          </button>
          <button nbStepperPrevious>الخطوة السابقة</button>
        </div>
      </form>
    </nb-step>
    <nb-step [stepControl]="thirdForm" label="المكان">
      <h6 class="text-center mb-5">
        يرجى اختيار المحافظة و المنطقة حيث وجدت الحيوان
      </h6>
      <form (ngSubmit)="postForm()" class="step-container">
        <div class="box">
          <select
            name="city"
            [(ngModel)]="postData.selectedCity"
            (change)="changeCountry($event)"
            class="mb-4"
          >
            <option
              selected="selected?city.city===postData.selectedCity:false"
              [value]="city.city"
              *ngFor="let city of this.locations"
            >
              {{ city.city }}
            </option>
          </select>
        </div>
        <div class="box mb-4">
          <select
            placeholder="اختر المنطقة"
            name="street"
            [(ngModel)]="postData.selectedStreet"
          >
            <option
              selected="selected?street===postData.selectedStreet"
              [value]="street"
              *ngFor="let street of this.streets"
            >
              {{ street }}
            </option>
          </select>
        </div>
        <label for="">اضف اية معلومات تحتاج اضافتها</label>
        <textarea
          cols="30"
          rows="5"
          class="w-100"
          type="text"
          name="description"
          [(ngModel)]="postData.description"
        ></textarea>
        <div class="d-flex next-prev">
          <button nbStepperNext>تأكيد النشر</button>
          <button nbStepperPrevious>الخطوة السابقة</button>
        </div>
      </form>
    </nb-step>
  </nb-stepper>
</div>
