<div class="addPost">
  <nb-stepper #stepper [disableStepNavigation]="true">
    <nb-step [stepControl]="firstForm" label="ارفاق الصور">
      <h6 class="text-center mb-5">يرجى اضافة صورة او اكثر للحيوان</h6>
      <form class="step-container">
        <p>مسموح حتى 5 صور -</p>
        <ngx-image-picker
          (emitPhoto)="selectedPhoto($event)"
        ></ngx-image-picker>
        <div
          *ngIf="selectedPhotos.length != 0"
          class="d-flex justify-content-center"
        >
          <div
            class="img-container"
            *ngFor="let image of selectedPhotos; let i = index"
          >
            <img [src]="'data:image/png;base64,' + image" />
            <nb-icon
              icon="close-outline"
              pack="eva"
              (click)="deleteImg(i)"
            ></nb-icon>
          </div>
        </div>
        <div class="d-flex next-prev">
          <button nbStepperNext [disabled]="selectedPhotos.length == 0">
            الخطوة التالية
          </button>
        </div>
      </form>
    </nb-step>
    <nb-step [stepControl]="secondForm" label="نوع الحيوان">
      <h6 class="text-center mb-5">يرجى اختيار نوع الحيوان</h6>
      <form class="step-container">
        <p class="lorem"></p>
        <nb-select
          class="mt-4"
          [fullWidth]="true"
          placeholder="اختر نوع الحيوان"
          [(selected)]="selectedAnimalType"
          (selectedChange)="chosenAnimalType($event)"
        >
          <nb-option-group title="انواع الكلاب">
            <nb-option *ngFor="let dog of dogOptions" [value]="dog.value">
              {{ dog.name }}
            </nb-option>
          </nb-option-group>

          <nb-option-group title="انواع القطط">
            <nb-option *ngFor="let cat of catsOptions" [value]="cat.value">
              {{ cat.name }}
            </nb-option>
          </nb-option-group>
        </nb-select>
        <div class="d-flex next-prev">
          <button nbStepperNext [disabled]="selectedAnimalType == -1">
            الخطوة التالية
          </button>
          <button nbStepperPrevious>الخطوة السابقة</button>
        </div>
      </form>
    </nb-step>
    <nb-step [stepControl]="thirdForm" label="المكان">
      <h6 class="text-center mb-5">
        يرجى اختيار المحافظة و المنطقة حيث وجدت الحيوان
      </h6>
      <form class="step-container">
        <select
          placeholder="اختر المحافظة"
          name="city"
          [(ngModel)]="selectedCity"
          (change)="changeCountry($event)"
          class="mb-4"
        >
          <option value="اختر المحافظة">اختر المحافظة</option>
          <option *ngFor="let city of this.locations">
            {{ city.city }}
          </option>
        </select>
        <select
          [disabled]="selectedCity == 'اختر المحافظة'"
          placeholder="اختر المنطقة"
          name="street"
          [(ngModel)]="selectedStreet"
        >
          <option value="اختر المنطقة" disabled>اختر المنطقة</option>
          <option *ngFor="let street of this.streets">
            {{ street }}
          </option>
        </select>
        <div class="d-flex next-prev">
          <button nbStepperNext>الخطوة التالية</button>
          <button nbStepperPrevious>الخطوة السابقة</button>
        </div>
      </form>
    </nb-step>
    <nb-step [stepControl]="fourthForm" label="الوصف">
      <h6 class="text-center mb-5">يرجى كتابة الوصف</h6>
      <form class="step-container">
        <input type="text" name="description" [(ngModel)]="description" />
        <div class="d-flex next-prev">
          <button nbStepperNext>ارسال المنشور</button>
          <button nbStepperPrevious>الخطوة السابقة</button>
        </div>
      </form>
    </nb-step>
  </nb-stepper>
</div>
