<nb-card>
  <nb-card-header>
    <h6>{{ serviceTitle }}</h6></nb-card-header
  >
  <nb-card-body>
    <p class="mainCard">
      {{ serviceDescription }}
    </p>
    <!-- <button nbButton (click)="open(dialog)">
      قراءة المزيد <nb-icon icon="arrow-back-outline" pack="eva"></nb-icon>
    </button> -->
  </nb-card-body>
</nb-card>
<!-- <ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="d-flex justify-content-between">
      <nb-icon
        class="pointer"
        icon="close"
        pack="eva"
        (click)="ref.close()"
      ></nb-icon>
      <h6>{{ serviceTitle }}</h6>
    </nb-card-header>
    <nb-card-body>{{ serviceDescription }}</nb-card-body>
  </nb-card>
</ng-template> -->
