<div class="authLayout row justify-content-end align-items-center">
  <div class="col-xl-6">
    <img src="assets/images/auth.jpg" alt="" class="w-100" />
  </div>
  <div class="col-xl-6 px-5 py-5">
    <h6 class="mb-3">تسجيل الدخول</h6>
    <p class="hint">اذا كنت مشترك من قبل يرجي تسجيل الدخول</p>
    <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)" class="w-100">
      <div class="form-group">
        <input
          nbInput
          class="w-100"
          name="userName"
          placeholder="اسم المستخدم"
          type="text"
          #userName="ngModel"
          [(ngModel)]="model.userName"
          required
          minlength="4"
          pattern="[a-zA-Z0-9_]*"
        />
        <div
          *ngIf="myForm.submitted && userName.invalid"
          class="mx-auto w-100 text-right"
        >
          <p *ngIf="userName.errors.required">برجاء ادخال اسم المسخدم</p>
          <p *ngIf="userName.errors.pattern">
            اسم المستخدم يجب ان يحتوى فقط علي حروف ابجدية او ارقام او _
          </p>
          <p *ngIf="userName.errors.minlength">
            اسم المستخدم يجب ان يحتوى علي الاقل علي 4 حروف
          </p>
        </div>
      </div>
      <div class="form-group">
        <nb-form-field>
          <input
            nbInput
            class="w-100"
            name="password"
            placeholder="الرقم السرى"
            type="text"
            #userPassword="ngModel"
            [(ngModel)]="model.userPassword"
            required
            minlength="6"
            [type]="getInputType()"
          />
        </nb-form-field>
        <div
          *ngIf="myForm.submitted && userPassword.invalid"
          class="mx-auto w-100 text-right"
        >
          <p *ngIf="userPassword.errors.required">برجاء ادخال رقمك السرى</p>
          <p *ngIf="userPassword.errors.minlength">رقم سرى ضعيف</p>
        </div>
      </div>
      <div class="d-flex justify-content-between align-items-center register">
        <div (click)="routeToRegister()" class="pointer">
          مستخدم جديد؟ انشاء حساب
        </div>
        <button type="submit" class="defaultBtn">تسجيل الدخول</button>
      </div>
    </form>
  </div>
</div>
