p.hint {
  font-family: "Almarai", sans-serif;
  font-size: 18px !important;
  @media screen and (max-width:430px){
    line-height: 1rem;
    font-size: 13px !important;
  }
}
img{
  height: 80vh;
  background-repeat: no-repeat !important;
  @media screen and (max-width:993px) {
    height: auto;
  }
}
.register{
  @media screen and (max-width:430px) {
    display: block !important;
    button{
      margin-top: 15px;
    }
  }
}