@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../styles/themes";
@include nb-install-component() {
  width: 100%;
  background-color: #434343;
  font-family: "Almarai", sans-serif;
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    button{
      border: none;
    }
    .navbar-toggler-icon{
      font-size: 2rem;
      color: #ffffff;
    }
    img {
      width: 120px;
      height: 70px;
    }
    .navbar-nav .nav-link {
      color: #ffffff;
      text-decoration: none;
      font-size: 20px;
      font-weight: 700;
      vertical-align: middle;
      margin-left: 12px;
      cursor: pointer;
      border: none;
      &:hover {
        color: #c9adad;
      }
    }
  }
  .navbar-expand-md .navbar-nav {
    padding: 0 !important;
  }
}
.navbar-light .navbar-nav .nav-link.active {
  color: #c9adad !important;
  border-bottom: 4px solid #c9adad;
}
::ng-deep {
  .nb-theme-default {
    nb-layout.window-mode .layout nb-layout-header nav {
      padding: 0;
    }
  }
  .header-container {
    .nav-item {
      nb-icon {
        line-height: unset;
        font-size: 1.5rem;
      }
    }
  }
}
::ng-deep{
  .nb-theme-default .header-container .navbar-nav {
    margin-right: auto;
    .nav-link{
      @media screen and (max-width:769px){
        margin-right: auto;
        width: 150px ;
        background-color:#434343;
        text-align: center;
        margin-left: 0;
        border: none ;
        border: 1px #ffffff solid !important;
      }
    }
  }
}
