<div class="row py-4 mx-0 justify-content-start align-items-center">
  <div class="col-md-6 px-0">
    <img class="img-fluid" src="assets/images/header-home.png" alt="" />
  </div>
  <div class="col-md-5">
    <h3>
      الرفق بالحيوان يعني أن يحصل الحيوان علي مستوى جيد من التغذية و الاهتمام و
      الرعاية الصحية و الأمان و الأهم من ذلك توفير مأوى مناسب للحيوان يشعر فيه
      بالراحة و عدم الازعاج ، و التعامل معه بشكل انساني.
    </h3>
  </div>
</div>
<div class="text-center welcome">
  <img class="mb-3" src="assets/images/home.png" alt="" title="Welcome" />
  <div>
    <h2><span>♥</span> مرحبا بكم <span>♥</span></h2>
    <h3>
      وجودكم هنا يعني حبكم و اهتمامكم بالحيوانات ، لذا نرحب بكم بشدة و نشكركم
      علي ثقتكم بنا و نتمني مساعدتكم.
    </h3>
  </div>
</div>
<nb-tabset class="pt-4 mt-5 posts" fullWidth>
  <nb-tab tabTitle="حيوانات تبحث عنها اصحابها">
    <div class="px-3">
      <button class="addItem" (click)="addPost('missed')">
        <nb-icon icon="plus-outline" pack="eva"></nb-icon> اضافة منشور
      </button>
      <div class="row">
        <ngx-home-post-card
          *ngFor="let post of missedPosts"
          [cardData]="post"
          [profile]="false"
          class="col-sm-6 col-lg-3 mb-3"
          (deleteID)="x($event)"
        ></ngx-home-post-card>
      </div>
    </div>
  </nb-tab>
  <nb-tab tabTitle="حيوانات تم العثور عليها">
    <div class="px-3">
      <button class="addItem" (click)="addPost('found')">
        <nb-icon icon="plus-outline" pack="eva"></nb-icon> اضافة منشور
      </button>
      <div class="row">
        <ngx-home-post-card
          *ngFor="let post of foundPosts"
          [cardData]="post"
          [profile]="false"
          class="col-sm-6 col-lg-3 mb-3"
        ></ngx-home-post-card>
      </div>
    </div>
  </nb-tab>
</nb-tabset>
